
<% list_of_events.each do |event|%>

    <div class= "custom-card-main__index">

            <div class="custom-card-main__left">

                <div class="custom-card-main__title--small">
                    <%= link_to event.name, event_path(event.id)%>
                </div>
                <div class="custom-card-main__stats">
                    <div class= "custom-card-main__stats__item">
                        <%= event.created_at.strftime('%Y-%m-%d') %>
                    </div>
                    <div class= "custom-card-main__stats__item">
                        <%= event.date%>
                    </div>
                
                </div>
            </div>

         
       <div class="custom-card-main__right">
        <div class="custom-card-main__actions">
            <%= link_to edit_user_event_path(current_user.id, event.id) do %>

                <%= image_tag("edit_pencil.svg") %>
            <% end %>
        
            <%= link_to user_event_path(current_user.id, event.id), 
                data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?" } do %>
                <%= image_tag("delete_trash.svg") %>
            <% end %>
        </div>
       </div>

</div>

<% end %>