
<div class="container-fluid w-50 mt-5">


<% if current_user && @user.id == current_user.id %>
    <h1 class="text-center mb-5"> Your events </h1>
<% else %>
    <h1 class="text-center mb-5"> <%= @user.user_name %> events </h1>
<% end %>
      

    
    <div class="container custom-main-cards-container">
        <% if current_user && @user.id == current_user.id %>
             <%= render partial: "event-preview", locals: {list_of_events: @user.events_created} %> <br>
            <% else %>
             <%= render partial: "visitor-event-preview", locals: {list_of_events: @user.events_created} %> <br>
        <% end %>    
    </div>
    

    <div class="container">
    
        <div class="custom-main-cards-container">
            <div class="container">
                <h5>Events attended</h5>


                <%= render partial: "shared/event-preview-small", locals:{list_of_events:@user.attended_events.past_events}%>


            </div>



        </div>
         <div class="custom-main-cards-container">
            <div class="container">
                <h5>Upcoming Events</h5>
                 <%= render partial: "shared/event-preview-small", locals:{list_of_events: @user.attended_events.upcoming_events}%>
            </div>


        </div>
    </div>



</div>
