

<div class="container-fluid d-flex justify-content-center">
  <div class="custom-card">
    <div class="custom-card__title">
      <h2>Edit Event</h2>
    </div>
  
    <div class="custom-card__body w-">
  
      <%= form_with model: [current_user, @event] do |f| %>

       <div class="custom-card__body__field">
          <div class="card__label"><%= f.label :name %></div>
          <div class="card__field"><%= f.text_field :name %></div>
        </div>

        <div class="custom-card__body__field">
          <div class="card__label"><%= f.label :date %></div>
          <div class="card__field"><%= f.date_field :date %></div>
        </div>
       

        <div class="custom-card__body__field">
          <div class="card__label"><%= f.label :description %></div>
          <div class="card__field"><%= f.text_area :description %></div>
        </div>


         <div class="custom-card__body__field">
          <div class="card__label"><%= f.label :address %></div>
          <div class="card__field"><%= f.text_area :address %></div>
        </div>
       
          
        <div class="custom-card__body__actions">
          <%= f.submit "Update" %>
        </div>
        
      <% end %>
  
    </div>
    
  </div>
</div>
