<div class="container-fluid d-flex justify-content-center">
  <div class="custom-card">
    <div class="custom-card__title">
      <h2>Log in</h2>
    </div>
  
    <div class="custom-card__body">
  
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="custom-card__body__field">
          <div class="card__label"><%= f.label :email %><br /></div>
          <div class="card__field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
        </div>
  
        <div class="custom-card__body__field">
          <div class="card__label"><%= f.label :password %><br /></div>
          <div class="card__field"><%= f.password_field :password, autocomplete: "current-password" %></div>
        </div>
  
        <% if devise_mapping.rememberable? %>
          <div class="custom-card__body__field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
  
        <div class="custom-card__body__actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
  
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
